! URxvt
URxvt.cursorBlink: true
URxvt.scrollBar: false

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.perl-ext-common: default,selection-to-clipboard,matcher

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

!! URL matching not working.
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Foreground and Background
*.foreground: ##90d9d5
*.background: #03090A
*.cursorColor: #90d9d5

! Black
*.color0: #03090A
*.color8: #649795

! Red
*.color1: #2FA154
*.color9: #2FA154

! Green
*.color2: #129E61
*.color10: #129E61

! Yellow
*.color3: #21D272
*.color11: #21D272

! Blue
*.color4: #0A1E96
*.color12: #0A1E96

! Magenta
*.color5: #265EBC
*.color13: #265EBC

! Cyan
*.color6: #C559DF
*.color14: #C559DF

! White
*.color7: #90d9d5
*.color15: #90d9d5

! Bold, Italic, Underline
*.colorBD: #845a5e
!*.colorIT:
!*.colorUL:
