[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[1ab4b64f-53d3-482f-b780-4faac27fa39f]
row=0
col=0

[b1eb096f-f516-4754-a4b6-f37de5851f14]
row=1
col=0

[Wastebasket]
row=2
col=0

[/]
row=3
col=0

[/home/jackhunt]
row=4
col=0

